
*{
    text-align: center;
}

body{
    color: white;
    background-image: url(software_img.jpg);
    background-size: cover;
}

a:link { 
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

nav{
    font-size: 125%;
}

#div1{
    border: 3px dashed white;
    font-style: italic;
}

#div2{
    border: 3px dashed white;
    font-style: italic;
}

.webtext{
    font-size: 125%;
}