

body{
    margin: 0;
    background-color: #080D0F;
    font-family: Arial, Helvetica, sans-serif;
}

.all_site{
    
    margin: 0 auto;
    color: white;
    padding: 10px;
}

header{
    background-image: url(./imgs/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 110px;
    border: 2px solid black;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

nav{
    width: 100%;
    height: 20px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.content{
    width: 68%;
    height: 400px;
    border: 2px solid black;
    float: left;
}


.row1{
    display: flex;
    justify-content: space-arounds;
}

.box1{
    flex: 1;
}

.box2{
    flex: 1;
}

.row1 > div{
    border: 2px solid black;
    padding: 10px;
}

.webtext {
    width: 100px;
    height: 2em;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
    background: hsl(214, 96%, 19%);
    border: solid 1px hsla(0, 0%, 100%, 0.641);
    justify-content: center;
    border-radius: 4px;
    margin: 5px;
    padding-left: .75em;
    padding-right: .75em;

}

aside{
    width: 30%;
    height: 400px;
    border: 2px solid black;
    float: right;   
}

footer{
    background-image: url(./imgs/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100px;
    border: 2px solid black;
    margin-bottom: 10px;
    float: left;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60%;
    text-align: center;
}
p.icons{
    display: flex;
    justify-content: center;
}

p.icons a{
    margin: 0px 5px 0px 5px;
    transition: 0.8s all;
}

p.icons a:hover{
    transform:scale(1.5,1.5);
}


p.clear{
    clear: both;
}